NODE_ENV=development
BACKEND_PORT=4000
FRONTEND_PORT=3000
CORS_ORIGIN=http://localhost:3000
JWT_SECRET=dev_jwt_secret_change_me

# Postgres
POSTGRES_USER=epitrello
POSTGRES_PASSWORD=epitrello
POSTGRES_DB=epitrello
DATABASE_URL=postgresql://epitrello:epitrello@postgres:5432/epitrello

# Frontend -> Backend
NEXT_PUBLIC_GRAPHQL_API=http://localhost:4000/graphql






